.dialogs {
  display: grid;
  padding: 0px;

  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "d h"
    "d s";
}

.user {
  margin-top: 10px;
}

.users-list {
  padding: 15px;
  background-color: rgba(216, 216, 216, 0.67);
  grid-area: d;
}

.messages {
  grid-area: h;
  height: 100%;
}

.message {
  margin-top: 15px;
}

.send-message-content {
  grid-area: s;
}
