.navContent {
  padding-right: 25px;
}

.navigation {
  grid-area: n;
  text-decoration: none;
  margin-top: 10px;
  list-style-type: none;
  padding: 0px;
  border: none;
}

.navigation li {
  margin-top: 3px;
}

.navigation li:last-child {
  margin-top: 15px;
}

.friendsList {
  margin-top: 35px;
}

.friendsListTitle {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.friendsListItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  list-style-type: none;
  padding: 0px;
  border: none;
}

.friendsListItem {
  display: flex;
  flex-direction: column;
}

.friendsListPhoto {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.item {
  text-decoration: none;
  color: rgb(130, 130, 130);
}

.active {
  text-decoration: none;
  font-weight: 500;
  color: rgb(37, 37, 37);
}
